@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/ForgetPasswordStyle.css" asp-append-version="true" />
</head>
<body>
    <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title">Reset Password</h3>
            <div class="card-text">
                <form asp-action="HandelReset" method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Enter your email address and we will send you a link to reset your password.</label>
                        <input type="email" name="email" class="form-control" placeholder="Enter your email address">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Send password reset email</button>
                    @*   <p style="color:red">@ViewData["Message_1"]</p> *@

                </form>
            </div>
            <div class="sign-up">
                <span>Remember your password? <a href="/User/Log_Reg">Sign In</a></span>
            </div>
        </div>
    </div>
</body>
</html>