

@if (Context.Session.GetString("Role") == "SuperAdmin"){
    {
    Layout = "~/Views/Shared/_SuperAdmin.cshtml";
    }
}else{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@section Style {
    <link rel="stylesheet" href="~/css/StyleChangePasswordAd.css" asp-append-version="true" />
}




<div class="pwd_change_container">
    <div class="pwd_change_icon_wrapper">🔐</div>
    <h1 class="pwd_change_title">Change Password</h1>
    <form class="pwd_change_form" asp-action="HandelChangePasswordAd" asp-controller="Home" method="post">
        <div class="pwd_change_form_group">
            <label class="pwd_change_label" for="pwd_current">Current Password</label>
            <input class="pwd_change_input" type="password" id="pwd_current" name="pwd_current" required>
        </div>

        <div class="pwd_change_form_group">
            <label class="pwd_change_label" for="pwd_new">New Password</label>
            <input class="pwd_change_input" type="password" id="pwd_new" name="pwd_new" required>
        </div>

        <div class="pwd_change_form_group">
            <label class="pwd_change_label" for="pwd_confirm">Confirm New Password</label>
            <input class="pwd_change_input" type="password" id="pwd_confirm" name="pwd_confirm" required>
        </div>

        <button class="pwd_change_button" type="submit">Update Password</button>
        <div class="MSG_1">
            @if (ViewBag.note == "Password successfully changed!")
            {
                <p style="color:green">@ViewBag.note</p>
            }else
            {
                <p style="color:red">@ViewBag.note</p>
            }
        </div>
    </form>

    <div class="pwd_change_rules_container">
        <h3 class="pwd_change_rules_title">Password Requirements:</h3>
        <ul class="pwd_change_rules_list">
            <li class="pwd_change_rules_item">At least 8 characters long</li>
            <li class="pwd_change_rules_item">Must include at least one uppercase letter</li>
            <li class="pwd_change_rules_item">Must include at least one number</li>
            <li class="pwd_change_rules_item">Must include at least one special character</li>
        </ul>
    </div>
</div>

